@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

*{
    border: 0;
    margin: 0;
}

.bg-image {
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/chatbg.png");
    height: 100vh;
    background-size: cover;
}

.username {
    background-color: #323f4b;
    padding: 10px;
    color: white;
    text-align: center;
    font-family: "Roboto";
    margin-bottom: 40px;
}

.chat-msgs1 {
    margin: 15px;
    font-family: "Roboto";
    background-color: #47a3f3;
    color: white;
    padding: 10px;
    text-align: right;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.chat-msgs2 {
    margin: 15px;
    font-family: "Roboto";
    background-color: #52606d;
    color: white;
    padding: 10px;
    text-align: left;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;

}
